* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  ul[class] {
    list-style: none;
  }
  
  ul[class],
  li {
    margin: 0;
    padding: 0;
  }
  
  button {
    margin-top: 10px;
    background-color: #008cba;
    border: none;
    color: white;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 16px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    max-width: fit-content;
  }
  
  input {
    margin: 5px 10px 5px 0;
    border: 0;
    padding: 0 10px;
    line-height: 36px;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: none;
    background-color: #3cbc8d;
    color: white;
    max-width: 200px;
  }
  
  main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    max-height: 100vh;
  }
  
  .wrapper__title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
  }
  
  /* Панель управления */
  .panel__wrapper {
    flex-basis: 20%;
    max-height: inherit;
    overflow: hidden;
    background: aliceblue;
    display: flex;
    flex-direction: column;
    padding-left:2%;
  }
  
  .panel__devtools {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .line {
    margin-top: 10px;
  }
  
  /* Список экзотических фруктов */
  .fruits__wrapper {
    flex-basis: 75%;
    background: #fff;
    max-height: inherit;
    overflow: hidden;
  }
  
  .fruits__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: inherit;
    overflow-y: auto;
    padding: 15px;
  }
  
  .fruit__item {
    margin: 10px;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
  }
  
  .fruit_red {
    background: #FF0000;
  }
  
  .fruit_orange {
    background: #FFA500;
  }
  
  .fruit_yellow {
    background: #FFFF00;
  }
  
  .fruit_green {
    background: #008000;
  }
  
  .fruit_chartreuse_green {
    background: #DFFF00;
  }
  
  .fruit_spring_green {
    background: #00FF7F	;
  }
  
  .fruit_cyan {
    background: #00FFFF;
  }
  
  .fruit_azure {
    background: #F0FFFF;
  }
  
  .fruit_blue {
    background: #0000FF;
  }
  
  .fruit_violet {
    background: #7F00FF;
  }
  
  .fruit_magenta {
    background: #FF00FF
  }
  
  .fruit_rose {
    background: #F33A6A
  }
  
  .fruit__info {
    background: #fff;
    padding: 2px 5px;
  }